@keyframes pulsing {
	0% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1)
	}
	50% {
		-webkit-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2);
	}
	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
}

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	50% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: otate(360deg);
	}
}

body {
	background-color: rgb(131, 156, 142);
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.dropdown-menu {
	border-radius: 10px;
}

.header {
	margin-top: 20px;
	margin-bottom: 30px;
}

.menu {
	margin-left: 50px;
	margin-top: 10px;
	-webkit-transition: all 0.2s;
	height: 40px;
}

.menu-btn {
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border-radius: 10px;
}

.menu-btn:hover {
	background: linear-gradient(180deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.9);
}

.header-left {
	display: flex;
}
.btn-primary {
	background-color: white;
	color: black;
	border: none;
	width: 100%;
	border-radius: 5px;
	text-align: center;
}
.btn-primary:hover {
	background-color: lightgray;
	color: black;
}

.btn-secondary {
	border: none;
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.btn-secondary:hover {
	border:none;
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.9);
	background: linear-gradient(180deg, #e74a35 0%, #f26843 100%);
}
.dropdown-menu a {
	text-align: center;
}
.dropdown-menu a:hover {
	background-color: lightgray;
	border-radius: 5px;
}

.wow-icecream {
	margin-bottom: 40px;
}

.wow-icecream2 {
	display: flex;
	justify-content: center;
}

.gradient {
	background: radial-gradient(at center, lightgray 1%, rgb(131, 156, 142) 70%);
}


.header-right {
	text-align: right;
	color: white;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

.header-tel {
	font-size: 22px;
	line-height: 24px;
}

.button-want {
	width: 280px;
	height: 64px;
	background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border: none;
	border-radius: 30px;
	color: #ffffff;
	font-size: 32px;
	font-weight: 700;
	line-height: 42.302px;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	-webkit-transition: all 0.2s;
	position: absolute;
	top: 500px;
	-webkit-animation: pulsing 2s infinite;
	animation: pulsing 2s infinite;
}

.button-want:hover {
	box-shadow: 0px 2px 2px 0px #ac1000;
	background: linear-gradient(180deg, #e74a35 0%, #f26843 100%);
	cursor: pointer;
}

.button-want:active {
	box-shadow: 0px 2px 2px 0px #ac1000;
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
	cursor: pointer;
	transform: scale(1.05)
}


.container-want {
	text-align: center;
}

h1 {
	color: white;
	font-size: 60px;
	font-weight: 700;
	line-height: 60.821px;
	text-align: center;
	font-family: 'Bad Script';
	margin-bottom: 30px;
	position: absolute;
	top: 400px;

}

.bnt-order{
	height: 60px;
	width: 100%;
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border: none;
	border-radius: 30px;
	color: #ffffff;
	font-size: 17.99px;
	font-weight: 700;
	line-height: 15.753px;
	text-align: center;
	-webkit-transition: all 0.2s;
}
.bnt-order:hover,
.bnt-order:focus {
	background: linear-gradient(180deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.9);
	cursor: pointer;
}

.bnt-order:active {
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);

}

.malino {
	background-image: url(backgrounds/malino.png);
	height: 229px;
	border-radius: 15px;
}

.button-malino {
	background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	width: 165px;
	height: 46px;
	border: none;
	border-radius: 30px;
	color: #ffffff;
	font-size: 17.99px;
	font-weight: 700;
	line-height: 15.753px;
	text-align: center;
	-webkit-transition: all 0.2s;
}

.button-malino:hover,
.button-malino:focus {
	background: linear-gradient(180deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	cursor: pointer;
}

.button-malino:active {
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
}

.malino h2 {
	color: #ffffff;
	font-size: 34.99px;
	font-weight: 500;
	line-height: 26.912px;
	text-align: left;
	font-family: 'Bad Script';
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 20px;
}

.malino p {
	color: #ffffff;
	font-size: 17.99px;
	font-weight: 400;
	line-height: 24.441px;
	text-align: left;
}

.chocolate {
	background-image: url(backgrounds/chocolate.png);
	height: 229px;
	border-radius: 15px;
}

.button-chocolate {
	background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	width: 189px;
	height: 46px;
	border: none;
	border-radius: 30px;
	color: #ffffff;
	font-size: 17.99px;
	font-weight: 700;
	line-height: 15.753px;
	-webkit-transition: all 0.2s;
}

.button-chocolate:hover,
.button-chocolate:focus {
	background: linear-gradient(180deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	cursor: pointer;
}

.button-chocolate:active {
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
}

.chocolate h2 {
	color: #ffffff;
	font-size: 34.99px;
	font-weight: 500;
	line-height: 26.912px;
	text-align: left;
	font-family: 'Bad Script';
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 20px;
}

.chocolate p {
	color: #ffffff;
	font-size: 17.99px;
	font-weight: 400;
	line-height: 24.441px;
	text-align: left;
}

.hit {
	position: absolute;
	z-index: 999;
	-webkit-animation: rotate 6s infinite;
	animation: rotate 6s infinite;
}

.icecreams {
	margin-bottom: 30px;
	margin-top: 30px;
}

.icecreams * {
	padding: 0;
	margin: 0;
}

.icecreams p {
	color: #ffffff;
	font-size: 45px;
	font-weight: 700;
	line-height: 55px;
	text-shadow: 0px 3px 7px rgba(49, 50, 53, 0.9);
	font-family: 'Bad Script';
	margin-bottom: 20px;
}

.icecreams p:hover {
	cursor: default;
}

.icecreams a {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 14.441px;
	-webkit-transition: all 0.2s;
}

.icecreams a:hover,
.icecreams a:focus {
	text-decoration: none;
	color: rgb(254, 188, 154)
}

.icecream-description {
	text-align: center;
	padding: 5px;
	border-radius: 15px;
	-webkit-transition: all 0.2s;
}

.icecream-description:hover,
.icecream-description:focus {
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
}



.gllacy-description {
	background-image: url(backgrounds/_%D0%92%D0%B0%D1%84%D0%BB%D1%8F_%D1%84%D0%BE%D0%BD.png);
	border-radius: 15px;
	margin-bottom: 30px;
}

.gllacy-description:hover * {
	cursor: default;
}

.gllacy-description h3 {
	color: #323232;
	font-size: 29px;
	font-weight: 700;
	line-height: 45px;
	text-align: left;
	font-family: 'Bad Script';
	text-align: center;
	margin-top: 21px;
}

.gllacy-description p {
	width: 87%;
	float: right;
	text-align: left;
}

.description-top {
	margin-top: 15px;
}

.description-bottom {
	margin-top: 10px;
	margin-bottom: 15px;
}

.slide {
	height: 100px;
	text-align: center;
	padding: 0;
	margin: 0;
}
.carousel-inner {
	margin-top: 15px;
}

.news-left {
	color: #323232;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	text-align: left;
	height: 220px;
	background-image: url(backgrounds/%D0%9A%D0%BB%D1%83%D0%B1%D0%BD%D0%B8%D1%87%D0%BD%D1%8B%D0%B9_%D1%84%D0%BE%D0%BD.png);
	border-radius: 15px;
	height: 210px;
	padding-top: 10px;
}

.news-left p:hover {
	cursor: default;
}

.news-left a {
	color: #323232;
	font-size: 30px;
	font-weight: 700;
	line-height: 35px;
	text-align: left;
	text-decoration: underline;
	font-family: 'Bad Script';
	width: 279px;
	-webkit-transition: all 0.2s;
}

.news-left a:hover,
.news-left a:focus {
	text-decoration: none;
	color: rgb(232, 77, 55);
}

.news-right {
	background-image: url(backgrounds/%D0%9F%D0%BE%D1%87%D1%82%D0%BE%D0%B2%D1%8B%D0%B8%CC%86-%D1%84%D0%BE%D0%BD.png);
	border-radius: 15px;
	padding: 5px;
}

.news-right input {
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(178, 178, 178, 52);
	box-sizing: border-box;
	background-color: #ffffff;
	width: 368px;
	height: 35px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.news-right button {
	background: -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	width: 129px;
	height: 35px;
	border: none;
	border-radius: 30px;
	color: #fefefe;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin-top: 5px;
	-webkit-transition: all 0.2s;
}

.news-right-border {
	background-image: url(backgrounds/%D0%9F%D0%BE%D0%B4%D0%BB%D0%BE%D0%B6%D0%BA%D0%B0.png);
	height: 100%;
	border-radius: 15px;
	padding: 20px;
}

.news-right p {
	color: #5a5a5a;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
}

.news-right button:focus,
.news-right button:hover {
	box-shadow: 0px 2px 2px 0px #ac1000;
	background: linear-gradient(180deg, #e74a35 0%, #f26843 100%);
	cursor: pointer;
	transform: scale(1.05)
}

.news-right button:active {
	background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
}

.container-fluid {
	background-color: black;
	opacity: 0.2;
	margin-top: 30px;
}

.footer-container div {
	margin-top: 50px;
	margin-bottom: 20px;
	height: 50px;
	display: flex;
	justify-content: space-around;
}

.footer-container a {
	text-decoration: none;
	color: white;
	-webkit-transition: all 0.2s;
}

.footer-container a:focus,
.footer-container a:hover {
	transform: scale(1.5);
	cursor: pointer;
}

.footer-right {
	float: right;
	color: #ffffff;
	font-size: 33px;
	font-weight: 400;
	line-height: 18px;
	font-family: 'Bad Script';
}

@media screen and (max-width: 763px) {}
